#map {
  min-width: 400px;
  height: 85%;
  margin-left: 10px;
  margin-right: 10px;
}

html, body {
  min-width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
}

button {
  float: right;
  margin-right: 5px;
  zoom: 2;
}

h1{
  zoom: 2;
}
